:root {
  --primary: rgb(154, 59, 59);
  --secondary: rgb(192, 130, 97);
  --ternary: rgb(226, 199, 153);
  --quadruary: rgb(242, 236, 190);
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--ternary);
  font-family: "Press Start 2P", cursive;
  font-size: 20;
}

#calculator {
  border: 10px solid var(--primary);
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(7, 80px);
  grid-gap: 10px;
  padding: 10px 15px 15px 10px;
}

#full-display,
#display {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: var(--quadruary);
  box-sizing: border-box;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#full-display {
  color: var(--primary);
}

#display {
  color: var(--ternary);
  background-color: var(--primary);
}

.pad-btn {
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--quadruary);
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px var(--primary);
}

.pad-btn:hover {
  color: var(--primary);
  background-color: var(--ternary);
}

.pad-btn:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}

#clear,
#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

#equals {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 8;
}
